.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-weight: 900;
    -fx-background-color: linear-gradient(to right,#1b301e,#2b402e);
    -fx-opacity: 0.7;
    -fx-text-fill: white;
}

.date-picker {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-weight: 900;
    -fx-background-color: linear-gradient(to right,#1b301e,#2b402e);
    -fx-opacity: 0.7;
    -fx-text-fill: white;
}
.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-weight: 900;
    -fx-background-color: linear-gradient(to right,#1b301e,#2b402e);
    -fx-opacity: 0.7;
    -fx-text-fill: white;
}

.button {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-weight: 900;
    -fx-background-color: linear-gradient(to right,#1b301e,#2b402e);
    -fx-opacity: 0.7;
    -fx-text-fill: white;
}

.button:hover {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-weight: 900;
    -fx-focus-color: white;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.text-field:hover {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-weight: 900;
    -fx-focus-color: white;
    -fx-opacity:0.5;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.date-picker:hover {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman Bold";
    -fx-font-weight: 900;
    -fx-focus-color: white;
    -fx-background-color: white;
    -fx-text-fill: black;
}
